body{
    margin: 0px;
}

.anav{
    font-family: "Arvo", serif;
    color: white;
    text-decoration: none;
}

.ulnap{
    display: flex;
    list-style-type: none;
}

 
.container {
    width: 80%;
    margin: 10px;
    overflow: hidden;
}
 
nav{
    background-color: rgb(52, 228, 190);
    padding: 10px;
}
 
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-family: "Playwrite AU NSW", cursive;
}
 
img{
font-synthesis-weight: 10px;
border-radius: 10%;
float: right;
 
}
 
.tablecontainer{
    display: flex;
    justify-content:center ;
}

table{
    font-family: "Arvo", serif;
    margin: 20px;
    border: 2px solid;
}
